<%- include('./partials/header.ejs') %>

<div class="container">
  <h1>Favorite Conversations</h1>
  <hr>

  <% conversations.forEach(c => { %>
    <% if (c.is_favorite) { %>
      <div class="card my-3">
        <div class="card-body">
          <h5 class="card-title" style="color: black;"><%= c.prompt %>&nbsp;<i class="bi bi-star-fill text-warning"></i></h5>
          <p class="card-text"><a href="/users/conversation/<%= c.id %>">View Conversation</a></p>
          <form action="/users/conversation/<%= c.id %>?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Delete</button>
            
          </form>
          
        </div>
      </div>
    <% } %>
  <% }) %>

  <% if (conversations.every(c => !c.is_favorite)) { %>
    <p style="color: black;">You have no favorite conversations yet.</p>
  <% } %>

</div>

<%- include('./partials/footer.ejs') %>
