<%- include('./partials/header.ejs') %>

<!-- views/users/favorites.ejs -->
<% conversations.forEach(c => { %>

    <div>
      <h3>
        <%= c.prompt %>
        <% if (c.is_favorite) { %>
          ⭐️

        </h3>
        <p><a href="/users/conversation/<%= c.id %>">View conversation</a></p>
        <form action="/users/conversation/<%= c.id %>?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button>
        </form>
      </div>
        <% } %>
     
  
  <% }) %>

  <%- include('./partials/footer.ejs') %>