<h1>Conversation Details</h1>

<div>
  <h3><%= conversation.prompt %></h3>
  <p><%= conversation.generated_text %></p> <!-- Display generated text -->
  <ul>
    <% responses.forEach(response => { %>
      <li><%= response.comment %></li>
    <% }) %>
  </ul>
  <form action="/users/conversation/<%= conversation.id %>/comments" method="POST">
    <label for="comment">Comment:</label>
    <textarea id="comment" name="comment" required></textarea>
    <br>
    <button type="submit">Add Comment</button>
  </form>
  <a href="/users/conversations"><button>Back to Conversations</button></a>


  <label for="isFavourite">Is favorite:</label>
<input type="checkbox" id="isFavourite" name="isFavorite" <%= conversation.is_favorite ? 'checked' : '' %>>
<form>
  <% if (conversation.is_favorite) { %>
    <button type="submit" formaction="/users/conversation/<%= conversation.id %>/unfavorite" formmethod="POST">Unfavorite</button>
  <% } else { %>
    <button type="submit" formaction="/users/conversation/<%= conversation.id %>/favorite" formmethod="POST">Favorite</button>
  <% } %>
</form>

</div>

